@media screen and (max-width:600px){
    *{
        /* margin: 7px; */
        display: 100% ;
        max-width: 600px;
    }
    nav,
    .nav-right,
    .banner,
    .banner h2,
    .banner p,
    .where,
    .tour

    {
        flex-direction: column;
        padding: 10px;
        margin:10px;
    }
    .banner{
        width: 335px;
        height: 483px;
        /* justify-content: center; */
    }
    .banner h2{
        text-align: center;
        padding-left: 50px;
        display: flex;
        font-size: 22px;
        width: 200px;
        height: 28px;
        color: rgb(204, 125, 22);
        margin-top: 25px;
    }
    .banner P{
        align-items: center;
        display: flex;
        width: 300px;
        height: 63px;
        font-size: 12px;
        font-weight: 400;
        line-height: 18px;
        color: rgb(204, 125, 22);
    }
   .where{
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
   }
    .tour{
        gap: 5px;
    }
    .tour .type h3{
        font-size: 20px;
        font-weight: 800;
    }
    .tour .type p{
        width: 335px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .tour .type ul li{
        width: 300px;
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
    .tour img{
        width: 335px;
        height: 342px;
        flex-shrink: 0;
    }
    .choose{
        width: 309px;
        margin-top: 400px;
    }
    .choose-1{
        width: 309px;
    }
    .image, .image-1, .image-2{
        flex-direction: column;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
    }
    .main{
        flex-direction: column;
        display: grid;
    }
    .main h4{
        width: 271px;
    }
    .main p{
        width: 271px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .div-1, .div-2, .div-3{
        width: 335px;
        height: 289px;
        margin: 0;
        padding: 0;
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        /* flex-direction: column; */
    }

    .new{
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 335px;
        height: 353px;
    }
    .new h4{
        font-size: 20px;
        font-weight: 800;

    }
    .new p{
        width: 270px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
    .valu{
        width: 288px;
height: 52px;
flex-shrink: 0;
    }
    .submit{
        width: 288px;
height: 52px;
flex-shrink: 0;
    }
    .old{
        flex-direction: column;
        margin: 0;
        padding: 0;
        width: 335px;
        height: 300px;
        flex-shrink: 0;
    }
    .footer{
        flex-direction: column;
        width: 375px;
        height: 309px;
    }

} 
